{% extends "admin/base.html" %}
{% load static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Clarastock Admin') }}{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <link rel="icon" type="image/png" href="{% static 'webapp/img/favicon.png' %}">
  <link rel="apple-touch-icon" href="{% static 'webapp/img/apple-touch-icon.png' %}">
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'webapp/css/admin_theme.css' %}?v=3">
{% endblock %}

{% block branding %}
<h1 id="site-name">
  <a href="{% url 'admin:index' %}">
    <img src="{% static 'webapp/img/logo.png' %}" alt="" class="cs-admin-logo">
    {{ site_header|default:_('Clarastock Admin') }}
  </a>
</h1>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}
